#cajaformulario{
    float: left;
    padding: 20px;
    border: 1px solid black;
}
#cajadatos{
    float: left;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
}
#clave, #valor{
    width: 200px;
}
#cajadatos>div{
    padding: 5px;
    border: 1px solid black;
}