#cajaformulario{
    float: left;
    padding: 20px;
    border: 1px solid black;
}
#cajadatos{
    float: left;
    padding: 20px;
    border: 1px solid black;
    margin-left: 20px;
    width: 500px;
}
#clave, #texto, #fecha{
    width: 300px;

}
#cajadatos > div{
    border-bottom: 1px solid black;
    padding: 5px;
}