#cajaformulario{
    float: left;
    padding: 20px;
    border: 1px solid black;
}
#cajadatos{
    float: left;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
}
#cajadatos > div{
    padding: 10px;
    border-bottom: 1px solid black;
}