body{
    background-image: url(Images/fondos/ac.jpg);
}
div{
    height: 120px;
    width: 120px;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    background-color: white;
}
.modA{
    background-image: url(Images/fondos/back_mantel.jpg);
    border-radius: 50%;
}
.modB{
    background-color: white;
    background-image: url(Images/fondos/back_mantel.jpg);
    background-clip: content-box;
    border-radius: 0 50% 0 50%;
}
.modC{
    background-image: url(Images/fondos/back_mantel.jpg);
    background-size: 100% 100%;
}
.modD{
    background-image: url(Images/fondos/back_mantel.jpg);
    background-repeat:no-repeat ;
    background-size:100% 100% ;
    background-origin:content-box;
}
.modE{
    background-image: url(Images/fondos/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.modF{
    background-image: url(Images/fondos/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.modG{
    background-image: url(Images/fondos/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modH{
    background-image: url(Images/fondos/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modI{
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}
.modJ{
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
}
.modK{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);

}
.modL{
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(50,116,45,1)100%);
}